header {
    nav {
        // 屬於 nav 寬度 % ；高度 px；背景色（暫）
        width: $NW;
        background-color: rosybrown;

        // 彈性佈局

        // 商標
        #Logo {
            
        }
        
        #Portfolio, #About, #Project, #Contact {
            // 小裝置為關閉，需再次開啟才可以看到資料
            @include ON;
        }

        // 選單
        #Menu {
            @include DN;
        }
    }

    // 輪播圖片 超小與小裝置 100% X 280px（圖片以大尺寸 1920 x 600 為基礎計算）
    // vw（以裝置的寬為寬度） vh（以裝置高為高度）
    #BannerBox {
        width: $W10;
        height: $BHsmall;
        // 超出範圍設定，能滑動X軸，讓圖片在框架中左右滑動
        overflow-x: auto;
        background-color: aquamarine;
        ul {
            // 圖片框的寬度尺寸
            width: $W10 * 5;
            li {
                width: 100vw;
                height: $BHsmall;
                float: left;
            }
        }
    }
}

footer {
    nav {
        
    }
}