 /* 樣式 */
    /* 對應 HTML5相同標籤或者呼叫 id（標籤自訂名稱-英文、數字和底線「_ 」；唯一）；class（重覆，共用樣式） */
    // css 呼叫 id：輸入 #name
    header {
        width: 100%;
    }
    // 加入判斷裝置的斷點
    // 超小裝置 <576px max-width（最大寬度）
    @media screen and (max-width: 576px) {
        #main {
            width: 50px;
            background-color: brown;
        }
    }
    // 小裝置 >= 576px min-width（最小寬度 含等於）
    @media screen and (min-width: 576px) {
        #main {
            width: 70px;
            background-color: cadetblue;
        }
    }

    // 平版裝置 >=768px
    @media screen and (min-width: 768px) {
       #main {
           width: 100px;
           background-color: yellowgreen;
       }
    }

    // 大平版裝置 >=992px
    @media screen and (min-width: 992px) {
        #main {
            width: 120px;
            background-color: violet;
        }
    }
    // 螢幕裝置 >=1200px
    @media screen and (min-width: 1200px) {
        #main {
            width: 140px;
            background-color: tomato;
        }
    }

    // 超大螢幕裝置 >=1400px
    @media screen and (min-width: 1400px) {
        #main {
            /* 寬度 高度 背景顏色 文字顏色 */
            width: 50%;
            background-color: burlywood;
            color: rgb(18, 97, 76);
        }    
    }
